<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Jony</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="~/asset/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->
        <!-- CSS here -->
        <link href="~/asset/css/animate.css" rel="stylesheet" />
        <link href="~/asset/css/flaticon.css" rel="stylesheet" />
        <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/asset/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/asset/css/gijgo.css" rel="stylesheet" />
        <link href="~/asset/css/jquery-ui.css" rel="stylesheet" />
        <link href="~/asset/css/magnific-popup.css" rel="stylesheet" />
        <link href="~/asset/css/nice-select.css" rel="stylesheet" />
        <link href="~/asset/css/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/asset/css/slick.css" rel="stylesheet" />
        <link href="~/asset/css/slicknav.css" rel="stylesheet" />
        <link href="~/asset/css/style.css" rel="stylesheet" />
        @*<a href="~/asset/css/style.map"></a>*@
        <link href="~/asset/css/theme-default.css" rel="stylesheet" />
        @*<a href="~/asset/css/theme-default.map"></a>*@
        <link href="~/asset/css/theme-default.css" rel="stylesheet" />
        <link href="~/asset/css/themify-icons.css" rel="stylesheet" />
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>

        .logosumit {
            filter: brightness(110%) contrast(120%) saturate(120%);
        }

      

       
    </style>
 
</head>
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="~/asset/img/logosumit.png" alt="" style="width:200px;height:100px" class="logosumit">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="#page1">home</a></li>
                                            <li><a href="#page4">Works</a></li>
                                            <li><a href="#page3">Services</a></li>

                                            <li><a href="#page2">about</a></li>

                                            <li><a href="#page6">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="#page6">Let’s Talk</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()

    </div>


    <footer class="footer" id="page6">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="lets_talk">
                            <h3>Do you have any Project? <a href="#">Let’s Talk</a> </h3>
                            <p>Building bridges between creativity and functionality. Empowering businesses through innovative web solutions. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" id="get_number">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Whatsapp </span>
                            <a href="#"> <i class="fa fa-whatsapp"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-3" id="get_github">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>GitHub</span>
                            <a href="#"> <i class="fa fa-github"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-3" id="get_Email">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Email</span>
                            <a href=""> <i class="fa fa-envelope"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-3" id="get_linkedin">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Linkedin</span>
                            <a href="#" > <i class="fa fa-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- JS here -->
    <script src="~/asset/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/asset/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/asset/js/popper.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>
    <script src="~/asset/js/owl.carousel.min.js"></script>
    <script src="~/asset/js/isotope.pkgd.min.js"></script>
    <script src="~/asset/js/ajax-form.js"></script>
    <script src="~/asset/js/waypoints.min.js"></script>
    <script src="~/asset/js/jquery.counterup.min.js"></script>
    <script src="~/asset/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/asset/js/scrollIt.js"></script>
    <script src="~/asset/js/jquery.scrollUp.min.js"></script>
    <script src="~/asset/js/wow.min.js"></script>
    <script src="~/asset/js/nice-select.min.js"></script>
    <script src="~/asset/js/jquery.slicknav.min.js"></script>
    <script src="~/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="~/asset/js/plugins.js"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="~/asset/js/slick.min.js"></script>



    <!--contact js-->
    <script src="~/asset/js/contact.js"></script>
    <script src="~/asset/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/asset/js/jquery.form.js"></script>
    <script src="~/asset/js/jquery.validate.min.js"></script>
    <script src="~/asset/js/mail-script.js"></script>


    <script src="~/asset/js/main.js"></script>

    <script>
        document.getElementById('get_linkedin').addEventListener('click', function () {
            // Specify the URL of the website you want to open
            var websiteUrl = 'https://www.linkedin.com/in/sumit-verma-develpoer/';

            // Open the website in a new tab or window
            window.open(websiteUrl, '_blank');
        });

        document.getElementById('get_Email').addEventListener('click', function () {
            // Specify your email address
            var emailAddress = 'sumit.verma1182002@gmail.com';

            // Create the Gmail compose link
            var gmailLink = 'https://mail.google.com/mail/?view=cm&fs=1&to=' + encodeURIComponent(emailAddress);

            // Open the link in a new tab
            window.open(gmailLink, '_blank');
        });


        document.getElementById('get_github').addEventListener('click', function () {
            // Specify the URL of the website you want to open
            var websiteUrl = 'https://github.com/Sumit11802/';

            // Open the website in a new tab or window
            window.open(websiteUrl, '_blank');
        });


        document.getElementById('get_number').addEventListener('click', function () {
            // Specify the phone number with country code (replace with your actual number)
            var phoneNumber = '+919372375474';

            // Create the WhatsApp link
            var whatsappLink = 'https://wa.me/' + encodeURIComponent(phoneNumber);

            // Open the WhatsApp app or web with the specified phone number
           
            window.open(whatsappLink, '_blank');
        });
    </script>
</body>
</html>
